[submodule "gears/modules/js_xhr_ajax"]
	path = gears/modules/js_xhr_ajax
	url = https://github.com/liledix4/js_xhr_ajax.git
[submodule "gears/modules/minibar"]
	path = gears/modules/minibar
	url = https://github.com/liledix4/minibar
