#liledix4_minibar *,
#liledix4_minibar *::before,
#liledix4_minibar *::after {
  box-sizing: border-box;
}


body.liledix4_minibar__show_more {
  overflow: hidden;
}
body.liledix4_minibar__show_more *:not( #liledix4_minibar * ) {
  backdrop-filter: none !important;
  animation-play-state: paused !important;
}


#liledix4_minibar {
  position: absolute;
  font-size: 16px;
  top: 0;
  left: 0;
  right: 0;
  text-shadow: none;
  color: #ffffff;
}
#liledix4_minibar:hover,
body.liledix4_minibar__show_more #liledix4_minibar {
  position: fixed;
}
#liledix4_minibar:hover {
  z-index: 4444;
}
body.liledix4_minibar__show_more #liledix4_minibar {
  z-index: 44444444;
}


#liledix4_minibar .toolbar_elements_wrapper {
  position: relative;
  display: flex;
  background-color: rgba( 0, 0, 0, .4 );
  transition: color .2s, background .2s;
  color: #ffffffcc;
  font-size: .75em;
}
#liledix4_minibar .toolbar_elements_wrapper:hover {
  background-color: #000000;
  color: #ffffff;
}
#liledix4_minibar .toolbar_elements_wrapper::before,
#liledix4_minibar .toolbar_elements_wrapper::after {
  content: '';
  position: absolute;
  top: 100%;
  height: 2em;
  width: 2em;
  background-image: url( './bg_rounded_corner_filler.svg' );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: .4;
  pointer-events: none;
  transition: opacity .2s;
}
#liledix4_minibar .toolbar_elements_wrapper:hover::before,
#liledix4_minibar .toolbar_elements_wrapper:hover::after
  { opacity: 1; }
#liledix4_minibar .toolbar_elements_wrapper::before {
  left: 0;
  background-position: top left;
}
#liledix4_minibar .toolbar_elements_wrapper::after {
  right: 0;
  background-position: top right;
  transform: scaleX( -1 );
}
body.liledix4_minibar__show_more #liledix4_minibar .toolbar_elements_wrapper {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 99999997;
  background-color: #000000;
}
body.liledix4_minibar__show_more #liledix4_minibar .toolbar_elements_wrapper::before,
body.liledix4_minibar__show_more #liledix4_minibar .toolbar_elements_wrapper::after {
  opacity: 1;
}


#liledix4_minibar .toolbar_elements_wrapper * {
  white-space: nowrap;
}


#liledix4_minibar .toolbar_elements_wrapper .links {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow: hidden;
}
#liledix4_minibar .toolbar_elements_wrapper:hover .links {
  flex-wrap: wrap;
  white-space: wrap;
}
body.liledix4_minibar__show_more #liledix4_minibar .toolbar_elements_wrapper .links .toolbar_element {
  display: none;
}


#liledix4_minibar .toolbar_elements_wrapper .toolbar_element {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  gap: .25em;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-right-width: .125em;
  padding: .5em;
  color: inherit;
  text-decoration: none;
  transition: border-color .2s;
}
#liledix4_minibar .toolbar_elements_wrapper:hover .toolbar_element {
  border-color: #ffffff22;
  text-align: center;
}
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element span {
  position: relative;
  z-index: 2;
}
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element span.emoji {
  font-size: calc( 1 / .75 * 1em );
  line-height: 1em;
}
#liledix4_minibar .toolbar_elements_wrapper .links .toolbar_element:not( :first-child ) {
  margin-left: -.125em;
}
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element:hover,
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element:active {
  color: #ffffff;
  z-index: 1;
}


#liledix4_minibar .toolbar_elements_wrapper .toolbar_element::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: -.125em;
  background-image: linear-gradient( 0deg, transparent, #009444 );
  opacity: 0;
  filter: saturate( 5 );
  transition: opacity .2s;
}
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element:hover::before {
  opacity: .4;
}
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element:active::before {
  opacity: .8;
}
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element:hover + .toolbar_element,
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element:active + .toolbar_element {
  border-left-color: transparent;
}


#liledix4_minibar .toolbar_elements_wrapper .links :not( .toolbar_element ) + .toolbar_element {
  border-left-width: .125em;
}
#liledix4_minibar .toolbar_elements_wrapper .links :not( .toolbar_element ) + .toolbar_element::before,
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element.more::before {
  left: -.125em;
}
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element.more::before {
  right: 0;
}
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element.main {
  border-left-width: 0;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  align-items: center;
}
#liledix4_minibar .toolbar_elements_wrapper .toolbar_element.more {
  border-left-width: .125em;
  border-right-width: 0;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  user-select: none;
}
#liledix4_minibar .toolbar_elements_wrapper .time {
  padding: .5em 1em;
}
#liledix4_minibar .toolbar_elements_wrapper .filler {
  flex-grow: 1;
  pointer-events: none;
}


#liledix4_minibar .more_wrapper {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: #003111ee;
  /* backdrop-filter: blur( 3em ) saturate( 1.5 ); */
  padding: 1.5em;
  padding-top: 4em;
  display: none;
  overflow: auto;
  user-select: none;
}
body.liledix4_minibar__show_more #liledix4_minibar .more_wrapper {
  display: block;
  animation: more_wrapper_intro 1s 1 cubic-bezier(.44,0,0,1);
}
@keyframes more_wrapper_intro {
  0% { opacity: 0; transform: scale( 5 ); }
}
#liledix4_minibar .more_wrapper .section_wrapper .section_title {
  position: relative;
  font-size: 3em;
  margin: 1.5em 0 .25em;
  font-weight: 200;
}
#liledix4_minibar .more_wrapper .blocks_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-content: start;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block,
#liledix4_minibar .block_messages_wrapper .message {
  position: relative;
  display: inline-block;
  border: .25em solid transparent;
  background-color: rgb( 0, 100, 200 );
  background-image: linear-gradient( -40deg, #00000044, transparent 80% );
  color: white;
  text-shadow: none;
  height: 10em;
  width: 10em;
  text-decoration: none;
  overflow: hidden;
  transition: transform .2s;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block.wide {
  width: 19em;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block:not( .no_primary_url ):hover {
  border-color: #ffffff44;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block:not( .no_primary_url ):active,
#liledix4_minibar .block_messages_wrapper a.message:active {
  transform: scale( .95 );
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .primary_link {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: -.25em;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .icon {
  position: absolute;
  top: 0; bottom: calc( 1 / 4 * 1.5em ); left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .title {
  position: absolute;
  bottom: .5em; left: .75em; right: calc( 1 / .75 * 2em );
  text-align: left;
  z-index: 1;
  pointer-events: none;
  font-size: .75em;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .interactive_corner {
  position: absolute;
  bottom: 0; right: 0;
  height: 1.5em;
  width: 2em;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .interactive_corner:hover {
  background-color: #00000022;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .interactive_corner .counter {
  position: absolute;
  bottom: .5em; right: 1em;
  text-align: right;
  transition: opacity .4s;
  font-size: .75em;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .interactive_corner.show_icon .counter {
  opacity: 0;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .interactive_corner .mini_icon {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  opacity: 0;
  transition: opacity .4s;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .interactive_corner.show_icon .mini_icon {
  opacity: 1;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .message_rails {
  position: absolute;
  top: 10em; left: 0; right: 0;
  transition: top 2s cubic-bezier(.44,0,0,1);
  margin: -.25em;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .message {
  display: block;
  width: 100%;
  background-color: rgb( 0, 100, 200 );
  color: inherit;
  text-decoration: none;
  font-size: .75em;
  padding: 1em;
  overflow: hidden;
  height: calc( 1 / .75 * 10em );
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block div.message {
  user-select: text;
}
#liledix4_minibar .more_wrapper .blocks_wrapper .block .message .progress_bar,
#liledix4_minibar .block_messages_wrapper .message .progress_bar {
  background-color: #009444;
  padding: calc( 1 / .75 * .25em);
  color: #ffffff;
  margin-bottom: .5em;
  white-space: nowrap;
}


#liledix4_minibar .below_block_messages_wrapper {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: #00000088;
  display: none;
}
#liledix4_minibar.show_blocks_window .below_block_messages_wrapper {
  display: block;
  z-index: 99999998;
}
#liledix4_minibar .block_messages_wrapper {
  position: fixed;
  width: 50em;
  height: 40em;
  background-color: #00622288;
  box-shadow: 0 1em 2em #00000088;
  backdrop-filter: blur( 3em );
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 99999999;
  transition: top .2s, left .2s;
}
@media all and ( max-width: 800px ) {
  #liledix4_minibar .block_messages_wrapper {
    width: auto !important;
    left: 0 !important;
    right: 0 !important;
  }
}
@media all and ( max-height: 640px ) {
  #liledix4_minibar .block_messages_wrapper {
    height: auto !important;
    top: 0 !important;
    bottom: 0 !important;
  }
}
#liledix4_minibar.show_blocks_window .block_messages_wrapper {
  display: flex;
}
#liledix4_minibar .block_messages_wrapper.dragging {
  transition: none;
}
#liledix4_minibar .block_messages_wrapper .title {
  position: relative;
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: .25em;
  width: 100%;
  background-image: radial-gradient( circle at center, #ffffff11, transparent );
  background-attachment: fixed;
  user-select: none;
  cursor: grab;
}
#liledix4_minibar .block_messages_wrapper.dragging .title {
  cursor: grabbing;
}
#liledix4_minibar .block_messages_wrapper .title .text {
  font-size: 3em;
  font-weight: 200;
}
#liledix4_minibar .block_messages_wrapper .close {
  position: absolute;
  top: 0; right: 0;
  background-color: #aa0000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em 1em;
  cursor: pointer;
}
#liledix4_minibar .block_messages_wrapper .close:hover {
  background-color: #cc0000;
}
#liledix4_minibar .block_messages_wrapper .close:active {
  background-color: #880000;
}
#liledix4_minibar .block_messages_wrapper .close::before {
  content: '✕';
  line-height: 1em;
}
#liledix4_minibar .block_messages_wrapper .messages {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  justify-content: center;
  gap: 1em;
  padding: 1.5em;
  flex-grow: 1;
  overflow: auto;
}
#liledix4_minibar .block_messages_wrapper .message {
  font-size: .75em;
  padding: 1em;
  border: none;
  outline: calc( 1 / .75 * .25em ) solid transparent;
  /* border: calc( 1 / .75 * .25em ) solid rgb( 0, 100, 200 ); */
  height: calc( 1 / .75 * 10em );
  width: calc( 1 / .75 * 19em );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#liledix4_minibar .block_messages_wrapper a.message:hover {
  outline-color: #ffffff22;
}