@import url( 'https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap' );
* {
  box-sizing: border-box;
}
::selection {
  background-color: #009444;
  color: #ffffff;
  text-shadow: 0 .125em .25em #00000088;
}
html {
  color: #ffffff;
  text-shadow: 0 .125em .25em #00000088;
  font-family: 'Exo 2', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-break: break-word;
}
body {
  background-color: #000000;
  margin: 1em;
}
body > .bg,
body > .bg_blurred {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url( 'https://yt3.googleusercontent.com/OT13M0OhPUH4VXQAu8jdsEsR2jIHg0Rh0E4meJYdaNylagOBjovleJ4IU7PRuLmRVMTy90pZWw=w10000' );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -1;
}
body > .bg_blurred {
  filter: blur( 3em ) saturate( 1.5 );
  transform: scale( 1.3 );
  opacity: .9;
}
h1 {
  font-size: 3em;
  margin: 0;
  margin-bottom: .5em;
}


#main_wrapper {
  position: relative;
  max-width: 40em;
  margin: 8em auto;
}


.icebreak_block {
  background-color: #00000044;
  border-top: .125em solid #ffffff44;
  border-bottom: .125em solid #00000044;
  box-shadow: 0 .5em 1em #00000066;
  backdrop-filter: blur( .5em );
  padding: 1em;
  border-radius: 1.5em;
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 40em;
  overflow: hidden;
  transition: background .4s;
}
.icebreak_block.task {
  display: flex;
  flex-direction: column;
  gap: .5em;
  text-align: left;
}
.icebreak_block .icebreak_block {
  backdrop-filter: none;
  background-color: #00000022;
  box-shadow: 0 .25em .5em #00000044;
  margin-bottom: 1em;
}
.icebreak_block:last-child {
  margin-bottom: 0;
}
.icebreak_block:hover {
  background-color: #00000088;
}


.icebreak_block.main {
  text-align: center;
}
.icebreak_block.main span.icons {
  font-size: 4em;
}
.icebreak_block.main h1,
.icebreak_block.main p {
  margin: 0;
}


.icebreak_block.task > .info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: .5em;
}
.icebreak_block.task > .info > .emoji {
  font-size: 3em;
  line-height: 1em;
  text-align: center;
}
.icebreak_block.task > .info > .center {
  flex-grow: 1;
}
.icebreak_block.task > .info > .center > .title {
  font-size: 1.5em;
  font-weight: bold;
}
.icebreak_block.task > .info > .center > .description {
  font-size: .8em;
  margin-top: .25em;
}
.icebreak_block.task > .info > .last_update {
  text-align: right;
  font-size: .8em;
  white-space: nowrap;
}
.icebreak_block.task > .status {
  text-align: center;
}
.icebreak_block.task > .status > span {
  font-style: italic;
}
.icebreak_block.task > .progress {
  position: relative;
  text-align: center;
  background-color: #0088ff44;
  background-image: linear-gradient( -4deg, #0044ff44 20%, transparent 50% );
  box-shadow: inset 0 .125em .25em #00000044;
  padding: .5em 1em;
  border-radius: 10000em;
  vertical-align: middle;
  overflow: hidden;
}
.icebreak_block.task > .progress > span.number {
  font-size: 1.25em;
}
.icebreak_block.task > .progress > span.number.current {
  font-weight: bold;
}
.icebreak_block.task > .progress > span.change {
  font-weight: bold;
  border: .125em solid #ffffff44;
  box-shadow:
    0 .125em .25em #00000044,
    inset 0 .125em .25em #00000044;
  border-radius: 10000em;
  padding: .25em .5em;
  margin: 0 .125em;
}
.icebreak_block.task > .progress > span.change.positive {
  color: #00f444;
  border-color: #00f44488;
}
.icebreak_block.task > .progress > span.change.negative {
  color: #ff66bb;
  border-color: #ff44aaaa;
}
.icebreak_block.task > .progress > .bar {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  box-shadow:
    inset 0 .75em .75em #ffffff66,
    inset 0 -.5em .5em #00000044;
  background-color: #009444;
  background-image: linear-gradient(-150deg, #ffffffaa 30%, transparent);
  background-position: left center;
  opacity: .8;
  filter: saturate( 5 );
  z-index: -1;
  border-top-right-radius: 10000em;
  border-bottom-right-radius: 10000em;
}
.icebreak_block.task > .progress > .bar.imprecise {
  box-shadow: none;
  background-color: transparent;
  background-image: url( '../images/progress_imprecise.svg' );
  background-size: calc( 100% / 7 ) 100%;
  animation: progress_bar_imprecise 20s linear infinite;
  opacity: .4;
}
@keyframes progress_bar_imprecise {
  0% { background-position: 0% center; }
  100% { background-position: 100% center; }
}
.icebreak_block.task > .subtasks {
  padding: .5em;
}


#block_preview {
  position: fixed;
  top: 4rem; left: 4rem;
  border-top: .125rem solid #ffffff44;
  border-bottom: .125rem solid #00000044;
  box-shadow: 0 .5rem 1rem #00000066;
  background-color: #00000044;
  border-radius: 1rem;
  backdrop-filter: blur( 2rem );
  padding: .5rem;
  height: 15rem;
  width: 10rem;
  overflow: hidden;
  font-size: .125rem;
  user-select: none;
  pointer-events: none;
}